{% extends 'base.html.twig' %}

{% block title %}Nouvel evenement- {{ parent() }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
