# .gitignore
.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/enonce/
/services/
###< symfony/framework-bundle ###
#requirements
#composer req maker-bundle
#composer req twig
#composer req asset
#composer req doctrine
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
