# .gitignore
.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/enonce/
###< symfony/framework-bundle ###
#requirements
#composer req maker-bundle
#composer req twig
#composer req asset
#composer req doctrine