<h1>Bonjour et bienvenue dans les 80s</h1>

<p>
    Merci de cliquer sur ce lien pour confirmer que vous n'êtes pas un bot du futur envoyé par skynet : <br><br>
    <a href="{{ signedUrl|raw }}">Vive John Connor</a>.
    Dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}, ce lien s'autodétruira.
</p>

<p>
    Retrobises !
</p>
