@import url("https://fonts.googleapis.com/css?family=Raleway");

@font-face {
    font-family: 'neon_font';
    font-display: auto;
    font-weight: auto;
    src: url('../font/NeonRetroDemoVersionRegular-rgPdx.otf') format('opentype');
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)),
    url("../images/bg.jpg");
    background-size: cover;
}

.is-primary {
    background-color: var(--glow-color);;
}

header {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin: 12px;
}

.head {
    margin-top: 20px;
}

.grid-container-four {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container-three {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-one {
    grid-column: 1/2;
}

.grid-two {
    grid-column: 2/3;
}

.grid-three {
    grid-column: 3/4;
}

.grid-four {
    grid-column: 4/5;
}

#logo {
    height: 11rem;
}

:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/**vvvvvvvvvvvv  CSS du bouton magique  vvvvvvvvvvvvv******/
.glowing-btn {
    position: absolute;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.05em 0.1em;
    border: 0.05em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 1em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.1em;

    -webkit-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 4s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
   -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 4s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.25);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(37, 38, 38, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes text-flicker {
    0% { opacity: 0.1; }
    2% { opacity: 1;   }
    8% { opacity: 0.1; }
    9% { opacity: 1;   }
    12% { opacity: 0.1; }
    20% { opacity: 1;   }
    25% { opacity: 0.3; }
    30% { opacity: 1;   }
    70% { opacity: 0.7; }
    72% { opacity: 0.8; }
    77% { opacity: 0.9; }
    100% { opacity: 0.9; }
}

@keyframes border-flicker {
    0% { opacity: 0.1; }
    2% { opacity: 1;   }
    4% { opacity: 0.1; }
    8% { opacity: 1;   }
    70% { opacity: 0.7; }
    100% { opacity: 1;  }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 5px;
    }
}
/**^^^^^^^^^^^^  CSS du bouton magique  ^^^^^^^^^^******/

input, select {
    border: 2px solid transparent;
    border-radius: 4px;
    color: #96faef;
    text-shadow: 0 0 9px rgba(135, 224, 253, 0.86),
    0 0 15px rgba(83, 203, 241, 0.9),
    0 0 30px #05ABE0FF;
    background: #6b3881;
    box-shadow: 0 0 7px #f255ff,
    0 0 10px #fff,
    0 0 20px rgba(250, 104, 255, 0.85),
    0 0 30px rgba(249, 76, 255, 0.85),
    0 0 92px rgba(247, 0, 255, 0.85);
}
.panel{


}
.corpus {
    filter: blur(-3px);
    border-radius: 80px;
    align-self: center;
    align-content: center;
    padding-top: 1rem;
}


.format {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: grid;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    display: grid;

}

label {
    display: inline-grid;
    width: 150px;
    text-align: center;
}


h1 {
    font-size: 32px;
    color: lavenderblush;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: lavenderblush;
}

body {
    background-color: #1c1c1e;
    color: lavenderblush;
    min-height: 100vh;
    min-width: 100vw;
}

.new_event {
    font-size: 20px;
    text-align: center;

}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    color: rgba(245, 255, 250, 0.91);
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    overflow-y: visible;
}

tr:hover {
    background-color: rgba(30, 220, 209, 0.5);
}


th {
    background-color: rgba(0, 0, 0, 0.25);
    height: 20px;
    font-size: 1.4em;
    color: rgba(3, 250, 122, 0.91);
}

th, td {
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid transparent;
}

td > a {
    font-size: 1.2em;
    color: rgba(245, 255, 250, 0.63);
}


#hidden {
    display: none;
}

h1 {
    font-size: 18px;
    font-family: sans-serif;
    width: 100%;
    color: #000000;
}

.container {
    width: 25%;
    margin: 0% auto;
    text-align: center;
}

.toggle {
    float: left;
    width: 20px;
    height: 20px;
    padding: 4px;
    text-align: center;
    background: #191919;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* auto, since non-WebKit browsers doesn't support input styling */
    margin: auto 60px;
    border: 1px solid #000000; /* Mobile Safari */
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    outline: none;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.2);

}

.toggle:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:after {
    content: '';
    text-shadow: 0 -1px 0 #bfbfbf;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    margin: auto;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}

.toggle:checked:after {
    color: #000000;
    text-shadow: 0 1px 0 #669991;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);

    background: #87e0fd; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.to-left {
    translate: -50%;
}

.to-right {
    translate: 50%;


.state_img {
    width: 60px;
    filter: invert(.9);
}

.glow-blue, a {
    font-family: neon_font, serif;
    font-size: 1.3em;
    color: #05abe0;
    text-shadow: 0 0 7px #53cbf1,
    0 0 10px #fff,
    0 0 21px #c2f0ff,
    0 0 42px #87e0fd;
}

.glow-yellow, h1, h2, h3, p, label, td, th {
    font-family: neon_font, serif;
    color: #e0bc05;
    text-shadow: 0 0 7px #ffe780,
    0 0 20px #d3ae33,
    0 0 40px #ab7d08;
}

.glow-green {
    font-family: neon_font, serif;
    color: #6bff16;
    text-shadow: 0 0 7px #a4ff80,
    0 0 20px #68d333,
    0 0 40px #2bab08;
}

input, select {
    border: 2px solid transparent;
    border-radius: 4px;
    color: #96faef;
    text-shadow: 0 0 9px rgba(135, 224, 253, 0.86),
    0 0 15px rgba(83, 203, 241, 0.9),
    0 0 30px #05ABE0FF;
    background: #6b3881;
    box-shadow: 0 0 7px #f255ff,
    0 0 10px #fff,
    0 0 20px rgba(250, 104, 255, 0.85),
    0 0 30px rgba(249, 76, 255, 0.85),
    0 0 92px rgba(247, 0, 255, 0.85);
}

.STARTED {
    box-shadow: 0 0 7px #53cbf1,
    0 0 10px #fff,
    0 0 21px #c2f0ff,
    0 0 42px #87e0fd;
}

.UNPUBLISHED {
    box-shadow: 0 0 7px #ffe780,
    0 0 20px #d3ae33,
    0 0 40px #ab7d08;
}

.PUBLISHED {
    box-shadow: 0 0 7px #a4ff80,
    0 0 20px #68d333,
    0 0 40px #2bab08;
}

.CLOSED, .FINISHED {
    box-shadow: 0 0 7px #ff8080,
    0 0 20px #d33333,
    0 0 40px #ab0808;
}

.state_img {
    width: 60px;
    filter: invert(.9);
    border-radius: 30px;
}