{% extends 'base.html.twig' %}

{% block title %}Mail envoyé - {{ parent() }}{% endblock %}

{% block body %}
    <p>
        Si un compte est lié à cet email, nous venons d'y envoyer un lien pour recréer le mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
