{% extends 'base.html.twig' %}

{% block title %}Nouveau Lieu de Sortie - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Nouveau lieu de sortie</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
