{% extends 'base.html.twig' %}

{% block title %}Edit my profile{% endblock %}

{% block body %}
    <h1>Edit profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_show') }}">back to event</a>


{% endblock %}
